<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Your daily report!</title>
    <link rel="icon" type="image/x-icon" href="/img/logo.png">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>
<body th:style="'background-image:url(' + @{/img/report.png} + '); background-repeat: no-repeat, repeat; background-size: cover;'">

<div style="margin-left:40px; margin-right:40px; margin-top:40px">
    <div>
        <h3>
            Check out what meds you need to take today
        </h3>

        <h6><i> This option allows you to check the remaining medication until the end of day, based on the current
            time.
        </i></h6>
    </div>

    <br>
    <div>
        <table border="1" class="table table-striped table-responsive-md" style="background-color: white">
            <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Expiry Date</th>
                <th>Usage</th>
                <th>Type</th>
                <th>Time of Day</th>
                <th>Frequency</th>
                <th>Before eating</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="medicament : ${medicaments}">
                <td th:text="${medicament.name}"></td>
                <td th:text="${medicament.quantity}"></td>
                <td th:text="${medicament.price}"></td>
                <td th:text="${medicament.expiryDate}"></td>
                <td th:text="${medicament.usage}"></td>
                <td th:text="${medicament.type}"></td>
                <td th:text="${medicament.timeOfDay}"></td>
                <td th:text="${medicament.frequency}"></td>
                <td th:text="${medicament.beforeEating}"></td>
            </tr>
            </tbody>
        </table>
    </div>
         <br>
         <br>
    <div>
        <a th:href="@{/}">Go Back</a>
    </div>
</div>
</body>
</html>